# Environment Configuration
NODE_ENV=development

# Database
DATABASE_URL=./data/bootstrapper.db

# Nostr Configuration
NOSTR_BOOTSTRAPPER_PRIVATE_KEY=

# Server Configuration
PORT=8001
HOST=0.0.0.0

# Logging
LOG_LEVEL=info
