<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^404\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . /index.html [L]
</IfModule>

<If "%{REQUEST_URI} =~ m#^/.well-known/#">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Headers "*" 
    Header always set Access-Control-Allow-Methods "GET" 
</If> 

<IfModule mod_headers.c>
    Header set Cache-Control "max-age=0, must-revalidate"
# Specifically target images to ensure they're not cached
    <FilesMatch "\.(jpg|jpeg|png|gif|svg|webp|ico)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
    </FilesMatch>
</IfModule>

AddType application/manifest+json .webmanifest .json
