<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^404\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . /index.html [L]
</IfModule>

<If "%{REQUEST_URI} =~ m#^/.well-known/#">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Headers "*" 
    Header always set Access-Control-Allow-Methods "GET" 
</If> 

<IfModule mod_headers.c>
    Header set Cache-Control "max-age=0, must-revalidate"
</IfModule>

AddType application/manifest+json .webmanifest .json
