<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^404\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # for Test deploy use this rule:
    RewriteRule . /index.html [L]
    # RewriteRule . /404.html [L]
</IfModule>

<If "%{REQUEST_URI} =~ m#^/.well-known/#">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Headers "*" 
    Header always set Access-Control-Allow-Methods "GET" 
</If> 

# https://stackoverflow.com/questions/49547/how-do-we-control-web-page-caching-across-all-browsers#2068407
<IfModule mod_headers.c>
#   Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Cache-Control "no-cache"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

AddType application/manifest+json .webmanifest .json
